<a href="https://colab.research.google.com/github/Sushan9706/Concepts-and-Technologies-of-AI/blob/main/Worksheet3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('/content/drive/MyDrive/worksheet3/Titanic-Dataset.csv')

df = pd.DataFrame(data)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df['Age'] = df['Age'].astype(int)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [ ]:
df['Cabin'] = df['Cabin'].fillna(df['Cabin'].mode()[0])
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,B96 B98,S

In [ ]:
fare = df[['Fare']]
fare.head()

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [ ]:
class_age = df[['Pclass', 'Age']]
class_age.head()

   Pclass  Age
0       3   22
1       1   38
2       3   26
3       1   35
4       3   35

In [ ]:
survived_gender = df[['Survived', 'Sex']].value_counts()
survived_gender

Survived  Sex
0         male      468
1         female    233
          male      109
0         female     81
Name: count, dtype: int64

In [ ]:
df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [ ]:
fare_gt_100 = df[df['Fare']>100]
fare_gt_100.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263.0000,C23 C25 C27,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,29,1,0,PC 17569,146.5208,B78,C
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23,3,2,19950,263.0000,C23 C25 C27,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24,0,1,PC 17558,247.5208,B58 B60,C
195,196,1,1,"Lurette, Miss. Elise",female,58,0,0,PC 17569,146.5208,B80,C

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    int64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 83.7+ KB

In [ ]:
first_class = df[df['Pclass'] == 1]
first_class.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5000,A6,S

In [ ]:
female_under_18 = df[(df['Sex'] == 'female') & (df['Age'] < 18)]
female_under_18.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,B96 B98,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,B96 B98,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,B96 B98,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.0750,B96 B98,S

In [ ]:
embarked_c_or_s = df[df['Embarked'].isin(['C', 'S'])]
embarked_c_or_s.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,B96 B98,S

In [ ]:
first_second_class = df[df['Pclass'].isin([1, 2])]
first_second_class.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,B96 B98,C
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S

In [ ]:
df['fare_per_year'] = df['Fare']/df['Age']
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,B96 B98,S,0.329545
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,B96 B98,S,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,1.517143
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,B96 B98,S,0.230000

In [ ]:
higher_fare_age = df[df['fare_per_year'] > 5]
higher_fare_age.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,B96 B98,S,10.537500
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,B96 B98,Q,14.562500
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263.0000,C23 C25 C27,S,13.842105
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,29,1,0,PC 17569,146.5208,B78,C,5.052441
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3,1,2,SC/Paris 2123,41.5792,B96 B98,C,13.859733

In [ ]:
high_fare_age_srt = df[df['fare_per_year']>5].sort_values('fare_per_year', ascending=False)
high_fare_age_srt[['Name', 'Age', 'Fare', 'fare_per_year']].head(20)

                                  Name  Age      Fare  fare_per_year
469      Baclini, Miss. Helene Barbara    0   19.2583            inf
803    Thomas, Master. Assad Alexander    0    8.5167            inf
755          Hamalainen, Master. Viljo    0   14.5000            inf
831    Richards, Master. George Sibley    0   18.7500            inf
644             Baclini, Miss. Eugenie    0   19.2583            inf
305     Allison, Master. Hudson Trevor    0  151.5500            inf
78       Caldwell, Master. Alden Gates    0   29.0000            inf
297       Allison, Miss. Helen Loraine    2  151.5500      75.775000
386    Goodwin, Master. Sidney Leonard    1   46.9000      46.900000
164       Panula, Master. Eino Viljami    1   39.6875      39.687500
183          Becker, Master. Richard F    1   39.0000      39.000000
827              Mallet, Master. Andre    1   37.0042      37.004200
788         Dean, Master. Bertram Vere    1   20.5750      20.575000
445          Dodge, Master. Washington    4   81.8583      20.464575
824       Panula, Master. Urho Abraham    2   39.6875      19.843750
381        Nakid, Miss. Maria ("Mary")    1   15.7417      15.741700
119  Andersson, Miss. Ellis Anna Maria    2   31.2750      15.637500
737             Lesurer, Mr. Gustave J   35  512.3292      14.637977
258                   Ward, Miss. Anna   35  512.3292      14.637977
311         Ryerson, Miss. Emily Borie   18  262.3750      14.576389

In [ ]:
df = df[df['Age']>0]
high_fare_age_srt[['Name', 'Age', 'Fare', 'fare_per_year']].head(20)

                                  Name  Age      Fare  fare_per_year
469      Baclini, Miss. Helene Barbara    0   19.2583            inf
803    Thomas, Master. Assad Alexander    0    8.5167            inf
755          Hamalainen, Master. Viljo    0   14.5000            inf
831    Richards, Master. George Sibley    0   18.7500            inf
644             Baclini, Miss. Eugenie    0   19.2583            inf
305     Allison, Master. Hudson Trevor    0  151.5500            inf
78       Caldwell, Master. Alden Gates    0   29.0000            inf
297       Allison, Miss. Helen Loraine    2  151.5500      75.775000
386    Goodwin, Master. Sidney Leonard    1   46.9000      46.900000
164       Panula, Master. Eino Viljami    1   39.6875      39.687500
183          Becker, Master. Richard F    1   39.0000      39.000000
827              Mallet, Master. Andre    1   37.0042      37.004200
788         Dean, Master. Bertram Vere    1   20.5750      20.575000
445          Dodge, Master. Washington    4   81.8583      20.464575
824       Panula, Master. Urho Abraham    2   39.6875      19.843750
381        Nakid, Miss. Maria ("Mary")    1   15.7417      15.741700
119  Andersson, Miss. Ellis Anna Maria    2   31.2750      15.637500
737             Lesurer, Mr. Gustave J   35  512.3292      14.637977
258                   Ward, Miss. Anna   35  512.3292      14.637977
311         Ryerson, Miss. Emily Borie   18  262.3750      14.576389

In [ ]:
(df['Age'] == 0).sum()

np.int64(0)

In [ ]:
high_fare_age_srt[['Name', 'Age', 'Fare', 'fare_per_year']].head(20)

                                  Name  Age      Fare  fare_per_year
469      Baclini, Miss. Helene Barbara    0   19.2583            inf
803    Thomas, Master. Assad Alexander    0    8.5167            inf
755          Hamalainen, Master. Viljo    0   14.5000            inf
831    Richards, Master. George Sibley    0   18.7500            inf
644             Baclini, Miss. Eugenie    0   19.2583            inf
305     Allison, Master. Hudson Trevor    0  151.5500            inf
78       Caldwell, Master. Alden Gates    0   29.0000            inf
297       Allison, Miss. Helen Loraine    2  151.5500      75.775000
386    Goodwin, Master. Sidney Leonard    1   46.9000      46.900000
164       Panula, Master. Eino Viljami    1   39.6875      39.687500
183          Becker, Master. Richard F    1   39.0000      39.000000
827              Mallet, Master. Andre    1   37.0042      37.004200
788         Dean, Master. Bertram Vere    1   20.5750      20.575000
445          Dodge, Master. Washington    4   81.8583      20.464575
824       Panula, Master. Urho Abraham    2   39.6875      19.843750
381        Nakid, Miss. Maria ("Mary")    1   15.7417      15.741700
119  Andersson, Miss. Ellis Anna Maria    2   31.2750      15.637500
737             Lesurer, Mr. Gustave J   35  512.3292      14.637977
258                   Ward, Miss. Anna   35  512.3292      14.637977
311         Ryerson, Miss. Emily Borie   18  262.3750      14.576389

In [ ]:
df = df[df['Age'].notna() & df['Age']>0]

In [ ]:
high_fare_age_srt[['Name', 'Age', 'Fare', 'fare_per_year']].head(20)

                                  Name  Age      Fare  fare_per_year
469      Baclini, Miss. Helene Barbara    0   19.2583            inf
803    Thomas, Master. Assad Alexander    0    8.5167            inf
755          Hamalainen, Master. Viljo    0   14.5000            inf
831    Richards, Master. George Sibley    0   18.7500            inf
644             Baclini, Miss. Eugenie    0   19.2583            inf
305     Allison, Master. Hudson Trevor    0  151.5500            inf
78       Caldwell, Master. Alden Gates    0   29.0000            inf
297       Allison, Miss. Helen Loraine    2  151.5500      75.775000
386    Goodwin, Master. Sidney Leonard    1   46.9000      46.900000
164       Panula, Master. Eino Viljami    1   39.6875      39.687500
183          Becker, Master. Richard F    1   39.0000      39.000000
827              Mallet, Master. Andre    1   37.0042      37.004200
788         Dean, Master. Bertram Vere    1   20.5750      20.575000
445          Dodge, Master. Washington    4   81.8583      20.464575
824       Panula, Master. Urho Abraham    2   39.6875      19.843750
381        Nakid, Miss. Maria ("Mary")    1   15.7417      15.741700
119  Andersson, Miss. Ellis Anna Maria    2   31.2750      15.637500
737             Lesurer, Mr. Gustave J   35  512.3292      14.637977
258                   Ward, Miss. Anna   35  512.3292      14.637977
311         Ryerson, Miss. Emily Borie   18  262.3750      14.576389

In [ ]:
df = df[df['Age'] >= 1]
high_fare_age_srt[['Name', 'Age', 'Fare', 'fare_per_year']].head(20)

                                  Name  Age      Fare  fare_per_year
469      Baclini, Miss. Helene Barbara    0   19.2583            inf
803    Thomas, Master. Assad Alexander    0    8.5167            inf
755          Hamalainen, Master. Viljo    0   14.5000            inf
831    Richards, Master. George Sibley    0   18.7500            inf
644             Baclini, Miss. Eugenie    0   19.2583            inf
305     Allison, Master. Hudson Trevor    0  151.5500            inf
78       Caldwell, Master. Alden Gates    0   29.0000            inf
297       Allison, Miss. Helen Loraine    2  151.5500      75.775000
386    Goodwin, Master. Sidney Leonard    1   46.9000      46.900000
164       Panula, Master. Eino Viljami    1   39.6875      39.687500
183          Becker, Master. Richard F    1   39.0000      39.000000
827              Mallet, Master. Andre    1   37.0042      37.004200
788         Dean, Master. Bertram Vere    1   20.5750      20.575000
445          Dodge, Master. Washington    4   81.8583      20.464575
824       Panula, Master. Urho Abraham    2   39.6875      19.843750
381        Nakid, Miss. Maria ("Mary")    1   15.7417      15.741700
119  Andersson, Miss. Ellis Anna Maria    2   31.2750      15.637500
737             Lesurer, Mr. Gustave J   35  512.3292      14.637977
258                   Ward, Miss. Anna   35  512.3292      14.637977
311         Ryerson, Miss. Emily Borie   18  262.3750      14.576389

In [ ]:
df= df[df['Age'] >= 1]

df[['Age']].sort_values('Age', ascending=False)

     Age
96    71
493   71
54    65
280   65
456   65
..   ...
386    1
183    1
172    1
164    1
788    1

[490 rows x 1 columns]

In [ ]:
high_fare_age_srt[['Name']]

                                               Name
469                   Baclini, Miss. Helene Barbara
803                 Thomas, Master. Assad Alexander
755                       Hamalainen, Master. Viljo
831                 Richards, Master. George Sibley
644                          Baclini, Miss. Eugenie
..                                              ...
348          Coutts, Master. William Loch "William"
205                      Strom, Miss. Telma Matilda
813              Andersson, Miss. Ebba Iris Alfrida
480                  Goodwin, Master. Harold Victor
31   Spencer, Mrs. William Augustus (Marie Eugenie)

[71 rows x 1 columns]

In [ ]:
df['fare_per_class'] = df['Fare'] / df['Pclass']

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,1.517143,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,B96 B98,S,0.230000,2.683333
5,6,0,3,"Moran, Mr. James",male,29,0,0,330877,8.4583,B96 B98,Q,0.291666,2.819433
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,B96 B98,S,0.412344,3.711100
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.2750,B96 B98,S,0.801923,10.425000

In [ ]:
adult_males = df[(df['Sex'] == 'male') & (df['Age'] >= 18)]
adult_males[[ 'Name','Sex','Age', 'Pclass']]

                             Name   Sex  Age  Pclass
4        Allen, Mr. William Henry  male   35       3
5                Moran, Mr. James  male   29       3
13    Andersson, Mr. Anders Johan  male   39       3
17   Williams, Mr. Charles Eugene  male   29       2
20           Fynney, Mr. Joseph J  male   35       2
..                            ...   ...  ...     ...
877          Petroff, Mr. Nedelio  male   19       3
878            Laleff, Mr. Kristo  male   29       3
881            Markun, Mr. Johann  male   33       3
884        Sutehall, Mr. Henry Jr  male   25       3
886         Montvila, Rev. Juozas  male   27       2

[298 rows x 4 columns]

In [ ]:
adult_males_sort = adult_males.sort_values('fare_per_class', ascending=False)
adult_males_sort[['Name', 'Age', 'Pclass', 'fare_per_class']]

                                Name  Age  Pclass  fare_per_class
737           Lesurer, Mr. Gustave J   35       1        512.3292
27    Fortune, Mr. Charles Alexander   19       1        263.0000
557              Robbins, Mr. Victor   29       1        227.5250
527               Farthing, Mr. John   29       1        221.7792
377        Widener, Mr. Harry Elkins   27       1        211.5000
..                               ...  ...     ...             ...
302  Johnson, Mr. William Cahoone Jr   19       3          0.0000
597              Johnson, Mr. Alfred   49       3          0.0000
413   Cunningham, Mr. Alfred Fleming   29       2          0.0000
732             Knight, Mr. Robert J   29       2          0.0000
674       Watson, Mr. Ennis Hastings   29       2          0.0000

[298 rows x 4 columns]

In [ ]:
adult_males_sr = adult_males[['Name', 'Age', 'Pclass']].sort_values('Pclass', ascending=False)
adult_males_sr

                               Name  Age  Pclass
4          Allen, Mr. William Henry   35       3
29              Todoroff, Mr. Lalio   29       3
5                  Moran, Mr. James   29       3
13      Andersson, Mr. Anders Johan   39       3
26          Emir, Mr. Farred Chehab   29       3
..                              ...  ...     ...
102       White, Mr. Richard Frasar   21       1
110  Porter, Mr. Walter Chamberlain   47       1
806          Andrews, Mr. Thomas Jr   39       1
815                Fry, Mr. Richard   29       1
27   Fortune, Mr. Charles Alexander   19       1

[298 rows x 3 columns]

In [13]:
df['age_group'] = pd.cut(df['Age'],
                         bins=[0, 18, 65, 120],
                         labels=['child', 'adult', 'senior'],
                         include_lowest=True)

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,adult

In [14]:
total_passenger = len(df)
total_passenger

891

In [15]:
df['age_group'].value_counts()

age_group
adult     567
child     139
senior      8
Name: count, dtype: int64

In [16]:
p_each_group = df['age_group'].value_counts()
p_each_group

age_group
adult     567
child     139
senior      8
Name: count, dtype: int64

In [17]:
properstion = p_each_group / total_passenger
properstion

age_group
adult     0.636364
child     0.156004
senior    0.008979
Name: count, dtype: float64

In [18]:
percentage = properstion * 100
percentage.round(2)

age_group
adult     63.64
child     15.60
senior     0.90
Name: count, dtype: float64

In [19]:
result = pd.DataFrame({
    'Count' : p_each_group,
    'Properstion': properstion.round(2),
    'Percentage': percentage.round(2)
})

# result = result.reindex(['child', 'adult', 'senior'])

result

           Count  Properstion  Percentage
age_group
adult        567         0.64       63.64
child        139         0.16       15.60
senior         8         0.01        0.90